name: Dockcross FreeBSD CI

on:
  push:
    branches:
      - "*"
    paths-ignore:
      - "**.md"
  pull_request:
    branches:
      - "*"
    paths-ignore:
      - "**.md"
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        host:
          - ubuntu-24.04
          - ubuntu-24.04-arm
    runs-on: ${{ matrix.host }}
    env:
      OCI_EXE: docker
    steps:
      - name: Free disk space
        uses: mathio/gha-cleanup@v1
        with:
          remove-browsers: true
          verbose: true

      - name: Set HOST_ARCH
        run: |
          echo "HOST_ARCH=$(uname -m | sed -e 's/x86_64/amd64/' -e 's/aarch64/arm64/')" | tee -a "$GITHUB_ENV"

      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: "recursive"
          fetch-depth: 1

      - name: Fetch base
        run: docker pull dockcross/base:latest

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and test
        env:
          BUILD_CMD: build --cache-from type=gha --cache-to type=gha,mode=max
        run: |
          make freebsd
          make freebsd.test

      - name: Export
        run: |
          docker image ls
          mkdir -p cache-freebsd-${{ env.HOST_ARCH }}
          docker image save ghcr.io/cynix/dockcross-freebsd:latest-${{ env.HOST_ARCH }} | xz -T0 > ./cache-freebsd-${{ env.HOST_ARCH }}/freebsd-${{ env.HOST_ARCH }}.tar.xz

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: cache-freebsd-${{ env.HOST_ARCH }}
          path: ./cache-freebsd-${{ env.HOST_ARCH }}
          retention-days: 1

  deploy:
    needs: [build]
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-24.04
    steps:
      - name: Free disk space
        uses: jlumbroso/free-disk-space@main

      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: "recursive"
          fetch-depth: 1

      - name: Download amd64
        uses: actions/download-artifact@v5
        with:
          name: cache-freebsd-amd64
          path: ./cache-freebsd-amd64

      - name: Download arm64
        uses: actions/download-artifact@v5
        with:
          name: cache-freebsd-arm64
          path: ./cache-freebsd-arm64

      - name: Load images
        run: |
          xz -d -k < ./cache-freebsd-amd64/freebsd-amd64.tar.xz | docker image load
          xz -d -k < ./cache-freebsd-arm64/freebsd-arm64.tar.xz | docker image load

      - name: Install manifest-tool
        run: |
          curl -sSL https://github.com/estesp/manifest-tool/releases/download/v2.2.1/binaries-manifest-tool-2.2.1.tar.gz | tar -zxf-
          sudo mv manifest-tool-linux-amd64 /usr/local/bin/manifest-tool

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push
        if: github.ref == 'refs/heads/master'
        run: |
          docker image ls

          make freebsd.tag-amd64
          make freebsd.push-amd64

          export HOST_ARCH=arm64
          make freebsd.tag-arm64
          make freebsd.push-arm64
          unset HOST_ARCH

          make freebsd.push
